@font-face {
	font-family: "fredericka-the-great";
    src: url("assets/fonts/fredericka-the-great.regular.ttf");
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	background: #A18A77;
	background: linear-gradient(rgba(111, 78, 55, 0.3), rgba(111, 78, 55, 0.3)), url("https://cdn.pixabay.com/photo/2016/11/29/01/54/wood-1866667_1280.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	position: absolute;
	top: 0;
}

h1 {
	font-family: "fredericka-the-great";
	font-size: 3rem;
	font-weight: normal;
}

h1, #canvas-options, #pen-options {
	text-align: center;
	color: #2c1608;
}

h4 {
	margin: 0;
}

#canvas-options, #pen-options, #footer a {
	font-family: 'PT Serif', serif;
}

#main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
}

fieldset {
	border: 2px groove #987456;
}

legend {
	margin: 0 auto;
	border: 2px groove #987456;
	padding: 4px 8px;
}

#canvas-options {
    width: 250px;
}

#canvas-options, #pen-options {
    padding: 0;
}

#canvas-sq-amt-container, #activation-mode-container {
	margin-top: 10px;
}

.ui-container {
	border-bottom: 2px groove #987456;
}

#slider-container, #canvas-bgcolor-options, #canvas-gridtoggle-container,
#ink-options, #ink-shading-container, #ink-eraser-container {
    display: flex;
    justify-content: center;
}

#slider-container {
	margin-top: 10px;
	margin-bottom: 5px;
	align-items: center;
}

input[type="range"] {
	-webkit-appearance: none;
	background-color: rgba(44,22,8,.6);
	border: 2px inset #6f4e37;
	box-sizing: border-box;
	height: 20px;
	cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #c19a6b;
	border: 3px outset #8b4513;
}

input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #c19a6b;
	border: 3px outset #8b4513;
}

input[type="range"]:focus {outline:0;}

input[type="range"]:hover {background-color: rgba(44,22,8,.8);}

#cell-amt {
	box-sizing: border-box;
	width: 50px;
	margin-left: 5px;
	border: 1px solid #483c32;
	background-color: #6f4e37;
	padding-left: 5px;
	height: 20px;
	color: #2c1608;
}

#cell-amt:hover {
	background-color: #2c1608;
	color: #c19a6b;
}

button {
    background-color: transparent;
    border: 2px groove #6f4e37;
    color: #2c1608;
    margin: 10px;
    border-radius: 6px;
    padding: 7px 15px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
	background-color: rgba(44, 22, 8, 0.7);
	color: #c19a6b;
}

button:active {
	box-shadow: 0 0 8px rgba(44, 22, 8, 0.7);
}

button:focus {outline:0;}

#canvas-bgcolor-container, #ink-options-container {
    height: 120px;
}

#canvas-bgcolor-options label, #ink-options label,
#canvas-color-picker, #ink-color-picker {
    display: block;
}

.canvas-bg-colors, .ink-colors {
    margin: 0 15px;
}

#black-box, #white-box, #canvas-color-picker,
#random-box, #ink-color-picker {
    width: 50px;
	height: 25px;
	margin: 0 auto;
	border: 1px solid #483c32;
}

#black-box {
    background-color: #000000;
}

#white-box {
    background-color: #ffffff;
}

#canvas-color-picker, #ink-color-picker, #grid,
.info, .grid-cell {
    box-sizing: border-box;
}

#canvas-gridtoggle-container, #ink-shading-container, #ink-eraser-container {
    height: 50px;
    align-items: center;
}

#canvas-grid-toggle-switch, #ink-shading, #ink-eraser { 
	opacity: 0;
	width: 0;
	height: 0;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin: 0 15px;
	cursor: pointer;
}

.slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 2px inset #483c32;
	border-radius: 34px;
	background-color: rgba(44, 22, 8, 0.4);
	-webkit-transition: .4s;
	transition: .4s;
  }

  .slider::before {
	position: absolute;
	content: "";
	box-sizing: border-box;
	height: 26px;
	width: 26px;
	left: 2px;
	bottom: 2px;
	background-color: #c19a6b;
	border: 3px outset #8b4513;
	border-radius: 50%;
	-webkit-transition: .4s;
	transition: .4s;
  }

input:checked + .slider::before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

input:checked + .slider {
	background-color: #6f4e37;
}

.switch-on-off, .switch-on-off::before, .switch-on-off::after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.switch-on-off::before, input:checked ~ .switch-on-off::before {
	box-sizing: border-box;
	height: 34px;
	width: 60px;
	padding: 11px 6px;
	text-transform: uppercase;
	color: #c19a6b;
	font-size: 10px;
}

.switch-on-off::before {
	content: attr(data-off);
	text-align: right;
}

input:checked ~ .switch-on-off::before {
	content: attr(data-on);
	text-align: left;
}

.info {
	position: relative;
    display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid #483c32;
	background-color: rgba(111, 78, 55, .5);
	border-radius: 50%;
	font-size: 14px;
	color: #2c1608;
}

.tooltip-text {
	visibility: hidden;
	width: 120px;
	background-color: #6f4e37;
	color: #f5deb3;
	text-align: left;
	border-radius: 6px;
	padding: 5px 5px;
	position: absolute;
	left: 140%;
	top: -75%;
	font-family: 'Roboto', sans-serif;
}

.info .tooltip-text::after {
	content: " ";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #6f4e37 transparent transparent;
}

.info:hover .tooltip-text {
	visibility: visible;
}

.shading-tooltip {
	visibility: hidden;
	width: 100px;
	background-color: #6f4e37;
	color: #f5deb3;
	text-align: left;
	border-radius: 6px;
	padding: 5px 5px;
	position: absolute;
	left: -90%;
	bottom: 110%;
	font-family: 'Roboto', sans-serif;
}

.shading-tooltip::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 24%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #6f4e37 transparent  transparent transparent;
}

.info:hover .shading-tooltip {
	visibility: visible;
}

.erase-tooltip {
	visibility: hidden;
	width: 130px;
	background-color: #6f4e37;
	color: #f5deb3;
	text-align: left;
	border-radius: 6px;
	padding: 5px 5px;
	position: absolute;
	left: -330%;
	top: 150%;
	font-family: 'Roboto', sans-serif;
}

.erase-tooltip::after {
	content: " ";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #6f4e37 transparent;
}

.info:hover .erase-tooltip {
	visibility: visible;
}

#grid {
    width: 550px;
    height: 550px;
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(72,60,50);
    display: grid;
}

.grid-cell-border {
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}

#pen-options {
    width: 280px;
}

.ink-colors {
	display: inline-block;
	width: 60px;
}

#random-box {
	background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
	margin: 0 auto;
}

#footer {
	margin-top: 40px;
	text-align: center;
}

#footer a {
	text-decoration: none;
	font-size: 1.2rem;
	color: #2c1608;
}

#footer a:hover {
	color: #8b4513;
}